
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', monospace;
    background-color: cornsilk;
    color: black;
}

header {
    background-color: cornflowerblue;
    color: white;
    padding: 20px;
    text-align: center;
}

header p {
    font-size: 15pt;
    margin-top: 5px;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

p#mensagem {
    text-align: center;
    font-size: 20pt;
    margin-top: 10px;
}

section {
    margin-bottom: 20px;
}

section#titulo {
    margin: 20px;
}

section#equipe h2 {
    margin-left: 20px;
}

section#equipe ul {
    margin-left: 35px;
}

button {
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: darkblue;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
}
